body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #433d8b, #8b3d79);
    color: white;
    text-align: center;
    padding: 40px;
}

.screen {
    max-width: 900px;
    margin: auto;
    background: rgba(255,255,255,0.08);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
}

.hidden {
    display: none;
}

.title {
    font-size: 3rem;
    margin-bottom: 25px;
}

.label {
    font-size: 1.6rem;
    display: block;
    margin-top: 25px;
}

.input-text {
    width: 80%;
    padding: 15px;
    font-size: 1.5rem;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
}

.btn {
    margin-top: 30px;
    padding: 20px 40px;
    font-size: 2rem;
    border: none;
    border-radius: 15px;
    background: #ffcb3d;
    cursor: pointer;
    color: #333;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.05);
    background: #ffe07e;
}

.small {
    font-size: 1.3rem;
    padding: 10px 20px;
}

.question-title {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.options-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.option-btn {
    padding: 25px;
    background: rgba(255,255,255,0.15);
    font-size: 1.8rem;
    border-radius: 15px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.3s;
}

.option-btn:hover {
    background: rgba(255,255,255,0.25);
}

.option-btn.selected {
    border-color: yellow;
    background: rgba(255,255,0,0.3);
}

.tip {
    margin-top: 20px;
    padding: 20px;
    background: rgba(0,0,0,0.4);
    border-radius: 15px;
    font-size: 1.5rem;
}

.big-percent {
    font-size: 8rem;
    font-weight: 900;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 0 0 20px #fff;
}

.final-message {
    font-size: 3rem;
    margin-bottom: 40px;
    color: #ffeb9b;
}

#summary {
    font-size: 1.6rem;
    text-align: left;
    margin-top: 40px;
}

#fireworks {
    width: 400px;       /* caixa central */
    height: 400px;
    margin: 30px auto;  /* centraliza horizontalmente */
    display: block;
}

#result-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
